* {
    box-sizing: border-box;
}



html {
    font-size: 62.5%;
}


body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}
/* common */
.container{
    width: 1170px;
    max-width: calc(100%-48px);
    margin: 0 auto;
}
a{
    text-decoration: none;
}
.btn{
    border-radius:  22px;
    background: #2E80CE;
    padding: 8px 20px;
    color: #FFF;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.8rem;
}
.btn:hover{
    opacity: 0.9;
}
/* header */
.header{
    min-height: 100vh;
    background-color: #10375c;  
    padding-top: 30px;
}


/* header__top */

.header__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: inline-flex;
}
.logo__brand{
    margin-left: 0.6rem;
    color: #FFF;
    text-align: right; 
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4rem; 
}

.logo__name--small{
    display: block;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.6rem;
    
}
/* navbar */
.navbar__list{
    display: flex;
    margin-left: 84px;
}
.navbar__item{
    padding: 8px 21px;
 
}
.navbar__link{
    color: #C9D2DA;
    font-size: 1,6rem;
    font-weight: 300;
}
.navbar__link:hover,
.navbar__link--active{
    color: white;
    font-size: 1,6rem;
    text-shadow: 1px 0 0 currentColor;
    transition: 0.5s ease ;
}
.navbar__link--active::before{
    content: "";
    position: relative;
    left: -8px;
    top: -2px;
    display: inline-block;
    width: 6px;
    height: 6px; 
    border-radius: 999px;
    background-color: white;   
}
/* action */
.header-action__link{
    color: #C9D2DA;
    padding: 8px 14px;
    text-align: right;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2,8rem;
}
/* hero */

.hero{
    display: flex;
    margin-top: 12vh;
    justify-content: space-between;
    align-items: center;
}
.hero__content{
    width: 44.18%;
}
.hero__heading{
    color: #FFF;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: -1.4px;
}
.hero__desc{
    color: #C9D2DA;
font-size: 1.8rem;
font-weight: 300;
line-height: 1.66;
margin-top: 22px;
}
.hero__phone{
margin-left: 38px; 
color: #FFF;
text-align: center;
font-size: 1.8rem;
font-weight: 400;
line-height: 1.66
}

.hero-row{
    margin-top: 38px;
    display: flex;
    align-items: center;
}
.hero__media{
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-end;
}

.hero__img{
    width: 330px;
    height: 540px;
    object-fit: cover;
    border-radius: 6px;
    }
.hero__img:first-child{
    position: relative;
}
.hero__img:last-child{
    margin-left: -6px;
    width: 210px;
    height: 410px;
    background-color: orange;
}
/* services */
.services{
    margin-top: 20vh;
}

.services__top{
  text-align: center;
}
.services__header{
    color: #10375C;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;

}
.services__desc{
    margin-top: 18px;
    color: #575F66;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 30px; /* 166.667% */
 }
.services__img{
    width: 570px;
    height: 570px;
    flex-shrink: 0;
    border-radius: 12px;
    object-fit: cover;
}
.services-row{
    display: flex;
    justify-content: space-between;
    gap: 130px;
    margin-top: 70px;
}
.services-group{
    padding-top: 35px;
}
.services-row__content{
    display: flex;
    border-radius: 10px;
    border: 1px solid #000;
    background: #FFF;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
    width: 470px;
    height: 128px;
    align-items: center;
}
.services-row__text{
padding: 21px 0px 19px;
}

.services-row__text-1{
    color: #10375C;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    font-size: 1.8rem;
    font-weight: 600;
}
.services-row__text-2{
    margin-top: 8px;
color: #575F66;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: #000;
font-size: 1.6rem;
font-weight: 300;
line-height: 1.75;
}
.service__btb{
    display: inline-block;
    margin-top: 55px;
    width: 205px;
    height: 60px;       
    text-align: center;
    padding-top: 15px;
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
}